@tailwind base;

a {
  font-family: "Roboto-normal";
 color: #131049;
}

a:hover {
  @apply border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

@font-face {
  font-family: "Montserrat-normal";
  src: url("/assets/fonts/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Roboto-normal";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Poppins-regular";
  src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-bold";
  src: url("/assets/fonts/Poppins/Poppins-Bold.ttf");
}

h1{
  font-family: "Poppins-bold";
  font-size: 48px;
  color:#131049;
}

h2{
  font-family: "Poppins-bold";
  font-size: 36px;
  color:#131049;
}
h3{
  font-family: "Poppins-bold";
  font-size: 24px;
  color:#131049;
}
p{
  font-family: "Roboto-normal";
  font-size: 16px;
  color:#131049;
}
button{
  font-family: "Roboto-normal";
  font-size: 16px;
}